body {
    background-color: grey;
    text-align: center;
}

.imagenes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bloque{
    display: flex;
    flex-direction: row;
    text-align: center;
    
}

.imagen {
    width: 50%;
    height: 50%;
    height: 300px;
    
    

}

.divCentrado{
    
    width: 500px;
    margin: auto;
    text-align: center;
    
}

.imagenSola{
    width: 300px;
    height: 300px;
}

h1,h2{
    color: red;
}

div.bold>p{
    font-weight: bold;
    